<div class="wvw-score-difference wvw-component" style="min-width: 56px;">
    <div>
        <div class="wvw-score-diffference wvw-component" style="min-width: 56px;">
            <div class="wvw-kd-green wvw-ppt-number green">-</div>
            <div class="wvw-kd-blue wvw-ppt-number blue">-</div>
            <div class="wvw-kd-red wvw-ppt-number red">-</div>
        </div>
        <div class="wvw-score-difference wvw-component" style="min-width: 56px;">
            <div class="wvw-kills-green wvw-ppt-number green">-</div>
            <div class="wvw-kills-blue wvw-ppt-number blue">-</div>
            <div class="wvw-kills-red wvw-ppt-number red">-</div>
        </div>
        <div class="wvw-score-difference wvw-component" style="min-width: 56px;">
            <div class="wvw-deaths-green wvw-ppt-number green">-</div>
            <div class="wvw-deaths-blue wvw-ppt-number blue">-</div>
            <div class="wvw-deaths-red wvw-ppt-number red">-</div>
        </div>
    </div>
</div>