<div id="wvw-ppt" class="ui-draggable">
    <div class="wvw-component">
        <div class="wvw-label">Point Per Tick</div>
        <div>
            <div class="wvw-canvas-holder">
                <div class="wvw-canvas-holder2">
                    <canvas class="wvw-ppt-canvas" width="50" height="50"></canvas>
                </div>
            </div>
            <div style="padding-left: 60px">
                <!--<div class="wvw-label">Tick</div>-->
                <div class="wvw-ppt-number-green wvw-ppt-number green">-</div>
                <div class="wvw-ppt-number-blue wvw-ppt-number blue">-</div>
                <div class="wvw-ppt-number-red wvw-ppt-number red">-</div>
            </div>
        </div>
    </div>
</div>