<div id="wvw-skirmish-score" class="ui-draggable wvw-skirmish-score">
    <div class=" wvw-component">
        <img class="wvw-label-icon" src="images/ppt.png">
        <div class="wvw-label">Skirmish Score</div>
        <div class="wvw-bar-outer">
            <div class="wvw-bar-base">
                <div class="wvw-bar-green wvw-bar green-bg"></div>
                <div class="wvw-bar-text-green wvw-bar-server-name"></div>
            </div>
            <div class="wvw-number-label-green wvw-label green">-</div>
        </div>
        <div class="wvw-bar-outer">
            <div class="wvw-bar-base">
                <div class="wvw-bar-blue wvw-bar blue-bg"></div>
                <div class="wvw-bar-text-blue wvw-bar-server-name"></div>
            </div>
            <div class="wvw-number-label-blue wvw-label blue">-</div>
        </div>
        <div class="wvw-bar-outer">
            <div class="wvw-bar-base">
                <div class="wvw-bar-red wvw-bar red-bg"></div>
                <div class="wvw-bar-text-red wvw-bar-server-name"></div>
            </div>
            <div class="wvw-number-label-red wvw-label red">-</div>
        </div>
    </div>

    <div class="wvw-score-difference wvw-component">
        <div class="wvw-label">Difference</div>
        <div class="wvw-diff-number-green wvw-ppt-number green">-</div>
        <div class="wvw-diff-number-blue wvw-ppt-number blue">-</div>
        <div class="wvw-diff-number-red wvw-ppt-number red">-</div>
    </div>
</div>