/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 6, 2017, 12:31:57 AM
    Author     : Jeppe Boysen Vennekilde
*/
.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

html {
    height: 100%;
}
body{
    margin: 0;
    height: 100%;
    
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}
div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.leaflet-container {
    background: #ffffff;
}
.leaflet-div-icon{
    background: transparent;
    border: none;
}
.leaflet-popup-content {
    margin: 4px;
    color: white;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip{
    background: rgba(26, 50, 54, 0.9);
}
.leaflet-popup-content-wrapper {
    border-radius: 1px;
}
.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
    bottom: 0 !important;
}
.leaflet-fade-anim .leaflet-map-pane .leaflet-popup.popup-open-dowm {
    top: 25px !important;
}
.leaflet-fade-anim .leaflet-map-pane .leaflet-popup.popup-open-dowm 
.leaflet-popup-tip-container {
    top: -10px;
    height: 10px;
}
.leaflet-fade-anim .leaflet-map-pane .leaflet-popup.popup-open-dowm 
.leaflet-popup-tip-container .leaflet-popup-tip{
    margin: 0px auto 0;
}
#wvw-skirmish-score, #wvw-victory-points {
    min-width: 251px;
}
.ui-draggable{
    direction: ltr;
    display: table-cell;
    z-index: 600;
    cursor: move;
    cursor: -webkit-grab;
    background: rgba(26, 50, 54, 0.9);
    padding: 5px 6px;
    border-radius: 4px;
    height: 74px;
    /*visibility: hidden;*/
}
#north-widgets .ui-sortable-placeholder, 
#south-widgets .ui-sortable-placeholder{
    display: table-cell;
    z-index: 600;
    border-radius: 4px;
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 600;
}
.ui-droppable-active{
    background: rgba(0,0,0,0.2);
    z-index: 900;
}
.ui-widget-drop-hover{
    background: rgba(0, 255, 78, 0.38);
}

#map {
    width: 100%;
    height: 100%;
}
#ui-widget-layer{
    position: absolute;
    width: 100%;
    height: 100%;
}

#ui-widget-layer-table{
    height: 100%; 
    width: 100%;
    border-spacing: 0;
}
#north-widgets, #east-widgets, #west-widgets, #south-widgets{
    padding: 0;
    margin: 0;
    position: relative;
}
#north-widgets, #south-widgets{
    height: 73px;
    max-height: 73px;
}

#east-widgets, #west-widgets{
    min-width: 251px;
    max-width: 251px;
}
#east-widgets .ui-draggable, #west-widgets .ui-draggable {
    display: block;
    position: relative;
}
#north-widgets{
    vertical-align: top;
    text-align: left;
}
#east-widgets{
    vertical-align: top;
    text-align: right;
    direction: rtl;
}
#west-widgets{
    vertical-align: top;
    text-align: left;
}
#south-widgets{
    vertical-align: bottom;
    text-align: left;
}
#center-widgets{
    height: 100%; width: 100%;
}
.top-widgets{
    top: 0;
    /* text-shadow: 0 0 black; */
    position: absolute;
    width: 100%;
    padding-bottom: 74px;
}
.bottom-widgets{
    bottom: 0;
    /* text-shadow: 0 0 black; */
    position: absolute;
    width: 100%;
    padding-top: 74px;
}


.wvw-obj-marker .www-obj-badge{    
    border-radius: 13px;
    background-color: #868686;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 1px 1px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}
.wvw-obj-marker, .www-obj-badge{
    width: 100%;
    height: 100%;
}

.wvw-obj-neutral {
    background-color: #868686;
}
.wvw-obj-red, .wvw-obj-Red {
    background-color: #cc2c21 !important;
}
.wvw-obj-blue, .wvw-obj-Blue {
    background-color: #3b76d6 !important;
}
.wvw-obj-green, .wvw-obj-Green {
    background-color: #1a822b !important;
}

.cooldown-container{
    width: 100%;
    height: 100%;
    top: -1px;
    left: -1px;
    position: absolute;
}

.cooldown-text{
    position: absolute;
    color: white;
    font-size: 10px;
    bottom: -15px;
    width: 100%;
    text-align: center;
    text-shadow: -1px 1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.cooldown-border{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    
    padding: 1px;
    position: absolute;
    z-index: -1;
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 100%;

    background-color: gray;
    background-image:
        linear-gradient(91deg, transparent 50%, red 50%),
        linear-gradient(90deg, red 50%, transparent 50%);
    
}

.wvw-shield-1, .wvw-shield-2, .wvw-shield-3{
    width: 8px;
    height: 8px;
}

.wvw-shield-1 {
    position: absolute;
    top: -3px;
    left: 0px;
    background-image: url(images/wvw_shield.png);
    background-size: 100%;
}
.wvw-shield-2 {
    position: absolute;
    top: -6px;
    left: 8px;
    background-image: url(images/wvw_shield.png);
    background-size: 100%;
}
.wvw-shield-3 {
    position: absolute;
    top: -3px;
    left: 16px;
    background-image: url(images/wvw_shield.png);
    background-size: 100%;
}
.wvw-waypoint {
    width: 16px;
    height: 16px;
    position: absolute;
    bottom: -5px;
    left: -5px;
    background-image: url(images/waypoint.png);
    background-size: 100%;
}

.wvw-guild-icon-marker {
    position: absolute;
    bottom: -10px;
    right: -6px;
}
.wvw-guild-icon-marker img{
    width: 12px;
}
.wvw-objective-name {
    font-size: 16px;
    color: #e2b242;
    vertical-align: middle;
    max-width: 99%;
    display: inline-table;
}
.claimed-by-img{
    width: 64px;
    height: 64px;
    background: rgba(0, 0, 0, 0.32);
    border-radius: 8px;
    margin-right: 6px;
}
.wvw-objective-popup-container{
    display: table;
    margin-right: 10px;    
    width: 100%;
    padding-right: 8px;
}
.wvw-marker-popup-details, .claimed-by-img{
    display: inline-table;
    vertical-align: top;
}
.popup-detail{
    padding-bottom: 2px;
    position: relative;
}

.obj-tier-1, .obj-tier-2, .obj-tier-3 {
    height: 12px;
}

.tier-bar-outer{
    position: relative;
}
.tier-bar-base{
    background-color: gray;
    height: 11px;
    position: absolute;
}

.tier-1-bar {
    width: 14.2857142857%;
    background: #5e5e5e;
}
.tier-2-bar {
    width: 42.8571428571%;
    background: #8d8d8d
}
.tier-3-bar {
    width: 100%;
    background: #b5b5b5
}
.tier-bar-progress{
    background: url(images/progress-bar.png);
}

.obj-tier-1{
    position: absolute;
    left: calc(14.2857142857% - 7px);
}
.obj-tier-2{
    position: absolute;
    left: calc(42.8571428571% - 7px);
}
.obj-tier-3{
    position: absolute;
    left: calc(100% - 7px);
}

.yaks-delivered, .objective-ppt{
    display: inline-block;
    height: 16px;
    margin-top: 2px;
}
.yaks-delivered-label, .objective-ppt-label{
    /*position: absolute;
    top: 1px;
    right: 13px;
    background: #3b3b3b;
    padding: 1px;
    font-size: 9px;
    border-radius: 30px;*/
    line-height: 22px;
    display: inline;
}
.yaks-delivered-label, .objective-ppt-label{
    padding-right: 3px;
    font-size: 14px;
    display: inline;
    vertical-align: bottom;
}
.objective-ppt-label{
    padding-right: 1px;
}

.objective-header-object{
    padding: 1px 6px;
    text-align: center;
    background: rgba(0, 0, 0, 0.32);
    border-radius: 5px;
    margin: 0 1px;
}
#wvw-kd-eb-widget, #wvw-kd-red-widget,
#wvw-kd-blue-widget, #wvw-kd-green-widget{
    border-bottom: solid 5px;
    padding-bottom: 0px;
}
#wvw-kd-eb-widget{
    border-color: purple;
}
#wvw-kd-red-widget{
    border-color: #B02822;
}
#wvw-kd-blue-widget{
    border-color: #1A4DA1;
}
#wvw-kd-green-widget{
    border-color: #1E7B2D;
}