<table class="wvw-bar-outer">
    <tr>
        <td>
            <div class="wvw-bar-base mdl-shadow--8dp">
                <div class="wvw-bar-green wvw-bar green-bg"></div>
                <div class="wvw-bar-text-green wvw-bar-server-name"></div>
            </div>
        </td>
        <td>
            <div class="wvw-number-label-green wvw-label green">-</div>
        </td>
        <td>
            <div class="wvw-diff-number-green wvw-ppt-number green">-</div>
        <td>
    </tr>
    <tr>
        <td>
            <div class="wvw-bar-base mdl-shadow--8dp">
                <div class="wvw-bar-blue wvw-bar blue-bg"></div>
                <div class="wvw-bar-text-blue wvw-bar-server-name"></div>
            </div>
        </td>
        <td>
            <div class="wvw-number-label-blue wvw-label blue">-</div>
        </td>
        <td>
            <div class="wvw-diff-number-blue wvw-ppt-number blue">-</div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="wvw-bar-base mdl-shadow--8dp">
                <div class="wvw-bar-red wvw-bar red-bg"></div>
                <div class="wvw-bar-text-red wvw-bar-server-name"></div>
            </div>
        </td>
        <td>
            <div class="wvw-number-label-red wvw-label red">-</div>
        </td>
        <td>
            <div class="wvw-diff-number-red wvw-ppt-number red">-</div>
        </td>
    </tr>
</table>