
<div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
    <header class="demo-drawer-header">
        <h4>GW2 Engine</h4>
    </header>
    <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
        <a class="mdl-navigation__link" href="index.html"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">map</i>Live map</a>
        <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">show_chart</i>Matchup statistics</a>
        <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">format_line_spacing</i>Matchup probability</a>
        <div class="mdl-layout-spacer"></div>
        <div>
            <a  onclick="navigateToPage('legal')"><i class="fa fa-gavel" style="margin-right: 5px"></i><span>Legal Notice</span></a>
        </div>
    </nav>
</div>